<a href="https://colab.research.google.com/github/terrainthesky-hub/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/module2-regression-2/Lesley_Rich_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
from sklearn.linear_model import LinearRegression




model = LinearRegression()

In [0]:
#Engineering a feature to try
df['interest_level_2'] = df['interest_level'].replace({'low': 1, 'medium':2, 'high':3})

In [0]:
df.head()

   bathrooms  bedrooms  ... common_outdoor_space interest_level_2
0        1.5         3  ...                    0                2
1        1.0         2  ...                    0                1
2        1.0         1  ...                    0                3
3        1.0         1  ...                    0                1
4        1.0         4  ...                    0                1

[5 rows x 35 columns]

In [0]:
#Setting my features, target, and subsetting my train and test data

features = ['bedrooms', 'bathrooms']
target = 'price'


train = df[df['created'].str.contains('2016-04') | df['created'].str.contains('2016-05')]
test = df[df['created'].str.contains('2016-06')]

In [0]:
#Second set of features to try
features = ['bedrooms', 'dogs_allowed', 'dishwasher']
target = 'price'


train = df[df['created'].str.contains('2016-04') | df['created'].str.contains('2016-05')]
test = df[df['created'].str.contains('2016-06')]

In [0]:
#Third set of features to try

features = ['hardwood_floors', 'bedrooms', 'bathrooms', 'doorman']
target = 'price'


train = df[df['created'].str.contains('2016-04') | df['created'].str.contains('2016-05')]
test = df[df['created'].str.contains('2016-06')]

In [0]:
#Fourth set of features to try

features = ['latitude', 'longitude', 'bathrooms', 'bedrooms']
target = 'price'


train = df[df['created'].str.contains('2016-04') | df['created'].str.contains('2016-05')]
test = df[df['created'].str.contains('2016-06')]

In [0]:
#Fifth set of features to try

features = ['interest_level_2', 'latitude', 'longitude', 'bedrooms', 'bathrooms']
target = 'price'


train = df[df['created'].str.contains('2016-04') | df['created'].str.contains('2016-05')]
test = df[df['created'].str.contains('2016-06')]

In [0]:
#Setting up my trains and tests

X_train = train[features]
X_test = test[features]
y_train = train[target]
y_test = test[target]



model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
from sklearn.metrics import mean_absolute_error
#mean absolute error

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
mae

713.2802830520895

In [0]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mae

718.1423968750071

In [0]:
#intercept and coeficient

model.intercept_, model.coef_

(485.71869002322273, array([ 389.3248959 , 2072.61011639]))

In [0]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score



mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1517879.6665142525
Root Mean Squared Error: 1232.0225917223486
Mean Absolute Error: 818.5310213271714
R^2: 0.5111543084316605

In [0]:

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1487715.3104108903
Root Mean Squared Error: 1219.719357233823
Mean Absolute Error: 825.8987822403527
R^2: 0.5213303957090346

In [0]:

mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 2130357.465048376
Root Mean Squared Error: 1459.5744123025643
Mean Absolute Error: 948.8422861459754
R^2: 0.3139007714090297

In [0]:

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 2143246.882461727
Root Mean Squared Error: 1463.9832247883605
Mean Absolute Error: 962.7888729986845
R^2: 0.31041434476972884

In [0]:
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1389404.0982459127
Root Mean Squared Error: 1178.7298665283377
Mean Absolute Error: 771.2406543645293
R^2: 0.5525309270169799

In [0]:

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1352698.620928049
Root Mean Squared Error: 1163.0557256331483
Mean Absolute Error: 775.3108903922307
R^2: 0.5647717617252103

In [0]:
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1313709.2322857806
Root Mean Squared Error: 1146.1715544741899
Mean Absolute Error: 739.182208374672
R^2: 0.5769090842021471

In [0]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1279602.3246105565
Root Mean Squared Error: 1131.195086892865
Mean Absolute Error: 744.9752658120722
R^2: 0.5882903576478171

In [0]:
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1236777.2599381886
Root Mean Squared Error: 1112.10487811995
Mean Absolute Error: 713.2802830520895
R^2: 0.6016856617238289

In [0]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1198141.2463716676
Root Mean Squared Error: 1094.5963851446193
Mean Absolute Error: 718.1423968750071
R^2: 0.6145003064282426